.user-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.user-item * {
  margin-bottom: 0.5rem;
}
.user-item p {
  color: #333;
}
.user-item p span {
  color: rgb(93, 0, 255);
}
